<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
<button><a href="/auth/facebook">Login With Facebook-index page</a></button>
</div>
<div>
<button><a href="/login">Login</a></button>
</div>
<div>
<button><a href="/signup">Sign up</a></button>
</div>


<img id="couture" src="../images/coutureill.jpeg";
