body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(18, 172, 233);
}

#form {
  margin: 30px auto;
  width: 250px;
}

#form label {
  color: rgb(33, 16, 220);
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 25%;
}

#form input,
#form button {
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 15px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background:  rgb(33, 16, 220);
  border: 1px solid rgb(7, 1, 79);
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: rgb(33, 16, 220);
  transition: .3s ease background;
}

.error-message {
  background: rgb(238, 28, 172);
  border-radius: 35px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.message {
  background: rgb(238, 28, 172);
  border-radius: 35px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
#indexImg{
  height:800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // width:
}
#loginImg{
  height:700px;
  // width:
}
#makeup {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#couture {
  // background-image: url ("images/coutureill.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}